.idea
map/
.vs
cmake-*
.ninja*
*.ninja
VSInherit*
*.manifest
*.pdb

!testing
testing/*
!testing/driver_test.cpp

!training
training/*
!training/driver_train.cpp


out/build/x64-Debug/*

*.o
*.exe
*.cmake
*.make
*.log
CMakeFiles/
Makefile
CMakeCache*


*.dat
train_25x1*
test_1to25*
*.model
model_train*

dummy*